<a href="https://colab.research.google.com/github/GeremiccaAndrea/Python/blob/main/GEREMICCA_ANDREA_Esercizi_Python_base_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Scrivere al di sotto di ogni esercizio il codice richiesto. Al termine, consegnare su classroom il notebook realizzato.

0. assegnare alle variabili x, y e z i valori 10, 20 e 30 in un'unica istruzione. Assegnare alle variabili a, b e c il valore 100 sempre in un'unica istruzione

In [ ]:
print (" x=10 y=20 z=30" )
print (" a, b, c = 100")

1. far inserire all'utente due numeri interi, scambiarli e visualizzarli

In [ ]:
n1= input("Inserire 1 numero intero")
n2= input("Inserire 1 numero intero")
print (" A = ", n1 )
print (" B = ", n2)

print (" Inverto i numeri A = ", n2 )
print (" Inverto i numeri B = ", n1)

2. far inserire all'utente due numeri e calcolare l'elevamento a potenza del primo per il secondo. Provare poi a vedere qualk è l amasisma potenza del 2 che Python riece a calcolare: lo smartphone è altrettanto potente?

In [ ]:
n1= int(input("Inserire 1 numero intero"))
n2= int(input("Inserire 1 numero intero"))
print(n1**n2)

3. far inserire all'utente tre numeri e visualizzare il massimo dei tre

In [ ]:
n1= int(input("inserire un numero"))
n2= int(input("inserire un numero"))
n3= int(input("inserire un numero"))
print(n1,n2,n3)
if n1< n2 and n2 > n3:
  print(n2)
elif n1> n2 and n1> n3:
    print (n1)
elif n3>n1 and n3>n2:
 print (n3)

4. dati tre numeri, dire se con quei tre numeri possiamo costruire un triangolo

5. far inserire dall'utente le misure di due cateti di un triangolo rettangolo (valori reali) e calcolare l'area del rettangolo e l'ipotenusa

6. far inserire un numero intero dall'utente e dire se è pari o dispari

7. far inserire all'utente il valore di una temperatura in gradi centigradi e convertirlo in gradi fahrenheit

In [ ]:
temp_Gradi = input("Inserire una temperatura in gradi centigradi ")
temp_Gradi = float(temp_Gradi) * (9/5) + 32
print(temp_Gradi)

8. far inserire all'utente il valore di una temperatura in gradi centigradi e convertirlo in gradi fahrenheit

In [ ]:
temp_fahrenheit = float(input("Inserire una temperatura in gradi fahrenheit "))
temp_fahrenheit = float(temp_fahrenheit - 32) * (5/9) 
print(temp_fahrenheit)

Inserire una temperatura in gradi fahrenheit 2
-16.666666666666668

9. far inserire all'utente una velocità in Km/h e visualizzare la stessa velocità in metri al secondo

In [ ]:
km = input("")
km = float(km)/3.6
print(km)

10. far inserire all'utente il raggio di un cerchio e visualizzarne il diametro e l'area

11. far inserire all'utente il suo nome e poi il suo cognome e visualizzare il suo cognome e il suo nome separati da uno spazio

In [ ]:
nome= input("Inserire il nome")
print("ciao", nome)
cognome= input("inserire il cognome")
print( nome ," " , cognome)

12. far inserire all'utente un numero e visualizzare il suo valore assoluto

13. far inserire all'utente un voto e controllare che sia compreso tra 1 e 10, estremi inclusi, Se è compreso visualizzare la stringa 'OK' altrimenti visualizzare la stringa 'KO'

In [ ]:
voto = input("Inserire un voto")
if float(voto) > 0 and float(voto) < 11:
  print("OK")
else:
  print("KO")

14. far inserire all'utente due numeri e dire se uno è multiplo dell'altro. Ad esempio se l'utente inserisse i valori 60 e 15 il programma dovrebbe visualizzare la stringa '60 è un multiplo di 15'. Stessa cosa se l'utente inserisse prima il 15 e poi il 60., Se non sono multipli, visualizzare un messaggio appropriato

15. far inserire all'utente la durata di un periodi di tempo in ore, minuti e secodni e convertirlo in secondi

In [ ]:
tempo = input("Inserire un tempo in ore ")
tempo2= tempo
tempo = float(tempo) * 60
print ("minuti", tempo)

tempo2= float(tempo2) * 3600
print ("secondi", tempo2)

16. far inserire all'utente la durata di un periodo in secondi e convertirlo in ore, minuti e secondi

In [ ]:
tempo = input("Inserire un tempo in secondi")
tempo2 = tempo
tempo = float(tempo) / 3600
print("ore", tempo)

tempo2 = float(tempo2) / 60
print("minuti", tempo2)