<a href="https://colab.research.google.com/github/GeremiccaAndrea/Python/blob/main/List_comprehension.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

List comprehension è un metodo per caricare dati in una lista utilizzando un ciclo for all'interno della lista stessa.

Per poter usare la list comprehension bisogna prima saper utilizzare il ciclo for

In [ ]:
fruits = ["apple", "banana", "cherry"]
# x è una variabile che assumerà tutti i valori 
for x in fruits:
  print(x)

apple
banana
cherry

In [ ]:
# x stampa ogni singola lettera della parola 
for x in "banana":
  print(x)

b
a
n
a
n
a

In [ ]:
fruits = ["apple", "banana", "cherry"]
for parola in fruits:
  print(parola)
  for lettera in parola:
    print(lettera)

apple
a
p
p
l
e
banana
b
a
n
a
n
a
cherry
c
h
e
r
r
y

In [ ]:
for x in range(9,17):
  print(x)

9
10
11
12
13
14
15
16

In [ ]:
for x in range(10,21,2):
  print(x)

10
12
14
16
18
20

In [ ]:
#Al contrario
for x in range(21,10,-1):
  print(x)

21
20
19
18
17
16
15
14
13
12
11

Inizializzare una lista con i primi dieci numeri pari

In [ ]:
lista = [numero for numero in range(0,21,2)]
print(lista)

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

Inizializzare una lista con i numeri da 1000 a 2000

In [ ]:
lista = [numero for numero in range(1000,2001)]
print(lista)

[1000, 1001, 1002, 1003, 1004, 1005, 1006, 1007, 1008, 1009, 1010, 1011, 1012, 1013, 1014, 1015, 1016, 1017, 1018, 1019, 1020, 1021, 1022, 1023, 1024, 1025, 1026, 1027, 1028, 1029, 1030, 1031, 1032, 1033, 1034, 1035, 1036, 1037, 1038, 1039, 1040, 1041, 1042, 1043, 1044, 1045, 1046, 1047, 1048, 1049, 1050, 1051, 1052, 1053, 1054, 1055, 1056, 1057, 1058, 1059, 1060, 1061, 1062, 1063, 1064, 1065, 1066, 1067, 1068, 1069, 1070, 1071, 1072, 1073, 1074, 1075, 1076, 1077, 1078, 1079, 1080, 1081, 1082, 1083, 1084, 1085, 1086, 1087, 1088, 1089, 1090, 1091, 1092, 1093, 1094, 1095, 1096, 1097, 1098, 1099, 1100, 1101, 1102, 1103, 1104, 1105, 1106, 1107, 1108, 1109, 1110, 1111, 1112, 1113, 1114, 1115, 1116, 1117, 1118, 1119, 1120, 1121, 1122, 1123, 1124, 1125, 1126, 1127, 1128, 1129, 1130, 1131, 1132, 1133, 1134, 1135, 1136, 1137, 1138, 1139, 1140, 1141, 1142, 1143, 1144, 1145, 1146, 1147, 1148, 1149, 1150, 1151, 1152, 1153, 1154, 1155, 1156, 1157, 1158, 1159, 1160, 1161, 1162, 1163, 1164, 1165, 1166, 1167, 1168, 1169, 1170, 1171, 1172, 1173, 1174, 1175, 1176, 1177, 1178, 1179, 1180, 1181, 1182, 1183, 1184, 1185, 1186, 1187, 1188, 1189, 1190, 1191, 1192, 1193, 1194, 1195, 1196, 1197, 1198, 1199, 1200, 1201, 1202, 1203, 1204, 1205, 1206, 1207, 1208, 1209, 1210, 1211, 1212, 1213, 1214, 1215, 1216, 1217, 1218, 1219, 1220, 1221, 1222, 1223, 1224, 1225, 1226, 1227, 1228, 1229, 1230, 1231, 1232, 1233, 1234, 1235, 1236, 1237, 1238, 1239, 1240, 1241, 1242, 1243, 1244, 1245, 1246, 1247, 1248, 1249, 1250, 1251, 1252, 1253, 1254, 1255, 1256, 1257, 1258, 1259, 1260, 1261, 1262, 1263, 1264, 1265, 1266, 1267, 1268, 1269, 1270, 1271, 1272, 1273, 1274, 1275, 1276, 1277, 1278, 1279, 1280, 1281, 1282, 1283, 1284, 1285, 1286, 1287, 1288, 1289, 1290, 1291, 1292, 1293, 1294, 1295, 1296, 1297, 1298, 1299, 1300, 1301, 1302, 1303, 1304, 1305, 1306, 1307, 1308, 1309, 1310, 1311, 1312, 1313, 1314, 1315, 1316, 1317, 1318, 1319, 1320, 1321, 1322, 1323, 1324, 1325, 1326, 1327, 1328, 1329, 1330, 1331, 1332, 1333, 1334, 1335, 1336, 1337, 1338, 1339, 1340, 1341, 1342, 1343, 1344, 1345, 1346, 1347, 1348, 1349, 1350, 1351, 1352, 1353, 1354, 1355, 1356, 1357, 1358, 1359, 1360, 1361, 1362, 1363, 1364, 1365, 1366, 1367, 1368, 1369, 1370, 1371, 1372, 1373, 1374, 1375, 1376, 1377, 1378, 1379, 1380, 1381, 1382, 1383, 1384, 1385, 1386, 1387, 1388, 1389, 1390, 1391, 1392, 1393, 1394, 1395, 1396, 1397, 1398, 1399, 1400, 1401, 1402, 1403, 1404, 1405, 1406, 1407, 1408, 1409, 1410, 1411, 1412, 1413, 1414, 1415, 1416, 1417, 1418, 1419, 1420, 1421, 1422, 1423, 1424, 1425, 1426, 1427, 1428, 1429, 1430, 1431, 1432, 1433, 1434, 1435, 1436, 1437, 1438, 1439, 1440, 1441, 1442, 1443, 1444, 1445, 1446, 1447, 1448, 1449, 1450, 1451, 1452, 1453, 1454, 1455, 1456, 1457, 1458, 1459, 1460, 1461, 1462, 1463, 1464, 1465, 1466, 1467, 1468, 1469, 1470, 1471, 1472, 1473, 1474, 1475, 1476, 1477, 1478, 1479, 1480, 1481, 1482, 1483, 1484, 1485, 1486, 1487, 1488, 1489, 1490, 1491, 1492, 1493, 1494, 1495, 1496, 1497, 1498, 1499, 1500, 1501, 1502, 1503, 1504, 1505, 1506, 1507, 1508, 1509, 1510, 1511, 1512, 1513, 1514, 1515, 1516, 1517, 1518, 1519, 1520, 1521, 1522, 1523, 1524, 1525, 1526, 1527, 1528, 1529, 1530, 1531, 1532, 1533, 1534, 1535, 1536, 1537, 1538, 1539, 1540, 1541, 1542, 1543, 1544, 1545, 1546, 1547, 1548, 1549, 1550, 1551, 1552, 1553, 1554, 1555, 1556, 1557, 1558, 1559, 1560, 1561, 1562, 1563, 1564, 1565, 1566, 1567, 1568, 1569, 1570, 1571, 1572, 1573, 1574, 1575, 1576, 1577, 1578, 1579, 1580, 1581, 1582, 1583, 1584, 1585, 1586, 1587, 1588, 1589, 1590, 1591, 1592, 1593, 1594, 1595, 1596, 1597, 1598, 1599, 1600, 1601, 1602, 1603, 1604, 1605, 1606, 1607, 1608, 1609, 1610, 1611, 1612, 1613, 1614, 1615, 1616, 1617, 1618, 1619, 1620, 1621, 1622, 1623, 1624, 1625, 1626, 1627, 1628, 1629, 1630, 1631, 1632, 1633, 1634, 1635, 1636, 1637, 1638, 1639, 1640, 1641, 1642, 1643, 1644, 1645, 1646, 1647, 1648, 1649, 1650, 1651, 1652, 1653, 1654, 1655, 1656, 1657, 1658, 1659, 1660, 1661, 1662, 1663, 1664, 1665, 1666, 1667, 1668, 1669, 1670, 1671, 1672, 1673, 1674, 1675, 1676, 1677, 1678, 1679, 1680, 1681, 1682, 1683, 1684, 1685, 1686, 1687, 1688, 1689, 1690, 1691, 1692, 1693, 1694, 1695, 1696, 1697, 1698, 1699, 1700, 1701, 1702, 1703, 1704, 1705, 1706, 1707, 1708, 1709, 1710, 1711, 1712, 1713, 1714, 1715, 1716, 1717, 1718, 1719, 1720, 1721, 1722, 1723, 1724, 1725, 1726, 1727, 1728, 1729, 1730, 1731, 1732, 1733, 1734, 1735, 1736, 1737, 1738, 1739, 1740, 1741, 1742, 1743, 1744, 1745, 1746, 1747, 1748, 1749, 1750, 1751, 1752, 1753, 1754, 1755, 1756, 1757, 1758, 1759, 1760, 1761, 1762, 1763, 1764, 1765, 1766, 1767, 1768, 1769, 1770, 1771, 1772, 1773, 1774, 1775, 1776, 1777, 1778, 1779, 1780, 1781, 1782, 1783, 1784, 1785, 1786, 1787, 1788, 1789, 1790, 1791, 1792, 1793, 1794, 1795, 1796, 1797, 1798, 1799, 1800, 1801, 1802, 1803, 1804, 1805, 1806, 1807, 1808, 1809, 1810, 1811, 1812, 1813, 1814, 1815, 1816, 1817, 1818, 1819, 1820, 1821, 1822, 1823, 1824, 1825, 1826, 1827, 1828, 1829, 1830, 1831, 1832, 1833, 1834, 1835, 1836, 1837, 1838, 1839, 1840, 1841, 1842, 1843, 1844, 1845, 1846, 1847, 1848, 1849, 1850, 1851, 1852, 1853, 1854, 1855, 1856, 1857, 1858, 1859, 1860, 1861, 1862, 1863, 1864, 1865, 1866, 1867, 1868, 1869, 1870, 1871, 1872, 1873, 1874, 1875, 1876, 1877, 1878, 1879, 1880, 1881, 1882, 1883, 1884, 1885, 1886, 1887, 1888, 1889, 1890, 1891, 1892, 1893, 1894, 1895, 1896, 1897, 1898, 1899, 1900, 1901, 1902, 1903, 1904, 1905, 1906, 1907, 1908, 1909, 1910, 1911, 1912, 1913, 1914, 1915, 1916, 1917, 1918, 1919, 1920, 1921, 1922, 1923, 1924, 1925, 1926, 1927, 1928, 1929, 1930, 1931, 1932, 1933, 1934, 1935, 1936, 1937, 1938, 1939, 1940, 1941, 1942, 1943, 1944, 1945, 1946, 1947, 1948, 1949, 1950, 1951, 1952, 1953, 1954, 1955, 1956, 1957, 1958, 1959, 1960, 1961, 1962, 1963, 1964, 1965, 1966, 1967, 1968, 1969, 1970, 1971, 1972, 1973, 1974, 1975, 1976, 1977, 1978, 1979, 1980, 1981, 1982, 1983, 1984, 1985, 1986, 1987, 1988, 1989, 1990, 1991, 1992, 1993, 1994, 1995, 1996, 1997, 1998, 1999, 2000]

Inizializzare una lista con i numeri da 100 a 0

In [ ]:
lista = [numero for numero in range (99,0,-1)]
print(lista)

[99, 98, 97, 96, 95, 94, 93, 92, 91, 90, 89, 88, 87, 86, 85, 84, 83, 82, 81, 80, 79, 78, 77, 76, 75, 74, 73, 72, 71, 70, 69, 68, 67, 66, 65, 64, 63, 62, 61, 60, 59, 58, 57, 56, 55, 54, 53, 52, 51, 50, 49, 48, 47, 46, 45, 44, 43, 42, 41, 40, 39, 38, 37, 36, 35, 34, 33, 32, 31, 30, 29, 28, 27, 26, 25, 24, 23, 22, 21, 20, 19, 18, 17, 16, 15, 14, 13, 12, 11, 10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

Scrivere un programma che permette all'utente di caricare una lista con i primi n numeri interi, con n inserito dall'utente. Calcolare poi la somma degli elementi presenti nella lista

In [ ]:
numero = int(input ("Inserire un numero "))
lista = [numero for numero in range(1,numero +1)]
print(lista)
sum(lista)

In [ ]:
#Metodo da fare 
num1 = 10
num2 = 8 
massimo = num1 if num1 > num2 else num2
print(massimo)

#Modo più lento da nonc fare 
num1 = 10
num2 = 8 
if num1 > num2: 
  massimo = num1 
else: 
 massimo = num2
print(massimo)

10
10

Caricare in una lista i primi 100 numer interi, visualizzare la lista e caricare in un'altra lista solo i multipli di 5 presenti nella prima lista

In [ ]:
lista = [numero for numero in range(101)]
print(lista)
lista1 = []
for elemento in lista: 
  if elemento % 5 == 0: 
    lista1.append(elemento)
print(lista1)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100]
[0, 5, 10, 15, 20, 25, 30, 35, 40, 45, 50, 55, 60, 65, 70, 75, 80, 85, 90, 95, 100]

Esercizio: 
Prendere in considerazione i dati sulle temperatuure e precipitazioni della verifica e trovare: 

1) le ore  in cui la probabilità di precipitazione è 0 

2) le ore in cui la temperatura è maggiore di 20 gradi

In [ ]:
t = [11,11,10,9,11,12,12,12,13,14,15,17,19,21,24,24,24,22,20,18,16,14,12,11]
p = [90,90,90,70,70,30,30,10,10,0,0,0,0,0,0,0,0,0,0,5,10,15,20,25]
ora = 1
for probabilita in p:
 if probabilita == 0: 
  print(ora)
 ora += 1 # è un'alternativa a ora = ora +1

ora = 1 
for temperatura in t:
 if temperatura >= 20: 
  print(ora)
 ora += 1 # è un'alternativa a ora = ora +1

10
11
12
13
14
15
16
17
18
19
14
15
16
17
18
19

ESERCIZI PER CASA: 

1) Scrivere un programma che aumenti di 1 grado tutte le temperature comprese tra le 10 e le 18. 

2) Scrivere un programma che conti il numero di volte in cui la temperatura è stata maggiore di 15 gradi e minore di 20 

3) Scrivo un programma che per ogni ora sommi i valori della temperatura e delle precipitazioni

In [ ]:
#Primo esercizio 
t = [11,11,10,9,11,12,12,12,13,14,15,17,19,21,24,24,24,22,20,18,16,14,12,11]
p = [90,90,90,70,70,30,30,10,10,0,0,0,0,0,0,0,0,0,0,5,10,15,20,25]
indice = 10 
for temperatura in t[10:18]: 
  t[indice] += 1 
  indice += 1 
print(t)

[11, 11, 10, 9, 11, 12, 12, 12, 13, 14, 16, 18, 20, 22, 25, 25, 25, 23, 20, 18, 16, 14, 12, 11]
[15, 17, 19, 21, 23, 26, 26, 26, 24]

In [ ]:
# per trovare il tempo dell'esecuzione
import time 
start = time.time()
# Un altro modo dell'esercizio sopra 
t[9:18] = [t[i]+1 for i in range(9,18)] # t= temperatura[indice] incrementa l'indice di 1 nel range da 9 a 18
end = time.time()
print(t)
print(end - start)

[11, 11, 10, 9, 11, 12, 12, 12, 13, 20, 21, 23, 25, 27, 30, 30, 30, 28, 20, 18, 16, 14, 12, 11]
0.00013446807861328125

In [ ]:
##
for indice in range(9,18): 
  t[indice] += 1 
print(t)

[11, 11, 10, 9, 11, 12, 12, 12, 13, 16, 17, 19, 21, 23, 26, 26, 26, 24, 20, 18, 16, 14, 12, 11]

In [ ]:
#Secondo esercizio 
t = [11,11,10,9,11,12,12,12,13,14,15,17,19,21,24,24,24,22,20,18,16,14,12,11]
p = [90,90,90,70,70,30,30,10,10,0,0,0,0,0,0,0,0,0,0,5,10,15,20,25]
conta = 0
for temperatura in t:
  if temperatura >= 15 and temperatura <= 20:
      conta += 1 
print(conta)

In [ ]:
#Terzo esercizio
t = [11,11,10,9,11,12,12,12,13,14,15,17,19,21,24,24,24,22,20,18,16,14,12,11]
p = [90,90,90,70,70,30,30,10,10,0,0,0,0,0,0,0,0,0,0,5,10,15,20,25]
somma = []
for indice in range(len(t)): 
  somma.append(t[indice] + p[indice])
print(somma)
print(t)
print(p)

[101, 101, 100, 79, 81, 42, 42, 22, 23, 14, 15, 17, 19, 21, 24, 24, 24, 22, 20, 23, 26, 29, 32, 36]
[11, 11, 10, 9, 11, 12, 12, 12, 13, 14, 15, 17, 19, 21, 24, 24, 24, 22, 20, 18, 16, 14, 12, 11]
[90, 90, 90, 70, 70, 30, 30, 10, 10, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 5, 10, 15, 20, 25]

In [ ]:
#Stesso esercizio di quello sopra solo che usiamo la list comprehension
somma = [t[indice] + p[indice] for indice in range(len(t))]
print(somma)
print(t)
print(p)

[101, 101, 100, 79, 81, 42, 42, 22, 23, 14, 15, 17, 19, 21, 24, 24, 24, 22, 20, 23, 26, 29, 32, 36]
[11, 11, 10, 9, 11, 12, 12, 12, 13, 14, 15, 17, 19, 21, 24, 24, 24, 22, 20, 18, 16, 14, 12, 11]
[90, 90, 90, 70, 70, 30, 30, 10, 10, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 5, 10, 15, 20, 25]

Visualizzare una lista contenente 20 numeri interi casuali compresi tra 20 e 30

In [ ]:
import random 
Lista_Numeri_Casuali = []
for numeri in range(20): 
  Lista_Numeri_Casuali.append(random.randint(20,30))
print(Lista_Numeri_Casuali)

[20, 20, 24, 24, 27, 23, 22, 23, 20, 28, 29, 26, 20, 28, 20, 24, 25, 20, 30, 30]

In [ ]:
Lista_Numeri_Casuali = [random.randint(20,30) for numeri in range(20)]
print(Lista_Numeri_Casuali)

[22, 27, 27, 24, 27, 23, 21, 22, 24, 30, 27, 29, 29, 20, 22, 21, 25, 22, 27, 25]

Generare 100 numeri casuali interi da 1 a 100 da memorizzare in una lista. 

Creare poi altre 2 liste, Una contenente i numeri pari e l'altra i valori dispari

In [ ]:
import random 
Lista_casuali = []
for numeri in range(100):
  Lista_casuali.append(random.randint(1,100))
print(Lista_casuali)

#Con list comprehension
Lista_Casuali = [random.randint(1,100) for numeri in range(100)]
print(Lista_casuali)

Lista_Numeri_Pari = []
Lista_Numeri_Dispari = []
for controllo in Lista_casuali:
  if controllo % 2 == 0:
   Lista_Numeri_Pari.append(controllo)
  else: 
   Lista_Numeri_Dispari.append(controllo)
print(Lista_Numeri_Pari)
print(Lista_Numeri_Dispari)

In [ ]:
#Numeri casuali(20) da 1 a 10 e trovare i sufficenti e gli insufficenti
import random  
Lista_Numeri = []
Insufficenti = 0
Sufficenti = 0
for Numeri_Casuali in range(20):
  Lista_Numeri.append(random.randint(1,10))
print(Lista_Numeri)

for controllo in Lista_Numeri:
  if controllo >= 6:
    Sufficenti += 1 
  else:
    Insufficenti += 1 
print(Sufficenti)
print(Insufficenti)

[6, 5, 10, 4, 4, 7, 10, 10, 2, 3, 8, 1, 10, 4, 3, 5, 9, 8, 1, 8]
10
10

In [ ]:
#Esercizio sopra con list comprehension 
import random  
Lista_Numeri = [random.randint(1,10) for Numeri_Casuali in range(20)]
print(Lista_Numeri)

for controllo in Lista_Numeri:
  if controllo >= 6:
    Sufficenti += 1 
  else:
    Insufficenti += 1 
print(Sufficenti)
print(Insufficenti)

[6, 6, 4, 1, 4, 5, 8, 8, 7, 4, 5, 4, 5, 6, 3, 4, 3, 8, 3, 5]
17
23

fare un programma che aumenta di tre le temperature comprese tra le 12 e le 20

In [ ]:
t = [11,11,10,9,11,12,12,12,13,14,15,17,19,21,24,24,24,22,20,18,16,14,12,11]
for temperature in range(11,20):
  t[temperature] += 3
print(t)

[11, 11, 10, 9, 11, 12, 12, 12, 13, 14, 15, 20, 22, 24, 27, 27, 27, 25, 23, 21, 16, 14, 12, 11]

In [ ]:
#Esercizio sopra con list comprehension
t = [11,11,10,9,11,12,12,12,13,14,15,17,19,21,24,24,24,22,20,18,16,14,12,11]
t[11:20] = [t[temperature] + 3 for temperature in range(11, 20)]
print(t)

[11, 11, 10, 9, 11, 12, 12, 12, 13, 14, 15, 20, 22, 24, 27, 27, 27, 25, 23, 21, 16, 14, 12, 11]

In [ ]:
#Generare 20 numeri casuali, creare 2 liste e mettere 10 numeri in ciascuna. Stampare il tempo di esecuzione
import random 
LstNum = []
LstNum1 = []
LstNum2 = []
for numeri in range(20):
  LstNum.append(random.randint(1,10))
print(LstNum)
print(1:10)

Esercizi preparazione verifica

Inserire 10 numeri casuali in 2 liste

In [ ]:
import random 
Lista1 = []
Lista2 = []
Lista1 = [random.randint(10,30) for numeri in range(20)]
Lista2 = [random.randint(10,30) for numeri in range(20)]
print(Lista1)
print(Lista2)

[17, 24, 22, 26, 13, 10, 15, 28, 24, 24, 11, 12, 27, 14, 21, 15, 17, 12, 10, 14]
[22, 17, 14, 12, 11, 13, 16, 18, 23, 16, 29, 19, 10, 12, 27, 18, 27, 15, 16, 16]

Fare media delle 2 liste

In [ ]:
from statistics import mean
print(mean(Lista1))
print(mean(Lista2))

17.8
17.55

Somma 2 liste

In [ ]:
print(sum(Lista1))
print(sum(Lista2))
print(sum(Lista1) + sum(Lista2))

356
351
707

inserire i numeri pari(Lista1) in un'altra lista

In [ ]:
ListaPari = []
for numeri in Lista1:
  if numeri % 2 == 0:
    ListaPari.append(numeri)
print(ListaPari)

somma numeri posizioni delle due liste e inserire in un'altra lista

In [ ]:
print(Lista1)
print(Lista2)
ListaSomma = []
for numeri in range(20):
  ListaSomma.append(Lista1[numeri] + Lista2[numeri])
print(ListaSomma)

#List Comprehnsion
ListaSomma = [Lista1[numeri] + Lista2[numeri] for numeri in range(20)]
print(ListaSomma)

[17, 24, 22, 26, 13, 10, 15, 28, 24, 24, 11, 12, 27, 14, 21, 15, 17, 12, 10, 14]
[22, 17, 14, 12, 11, 13, 16, 18, 23, 16, 29, 19, 10, 12, 27, 18, 27, 15, 16, 16]
[39, 41, 36, 38, 24, 23, 31, 46, 47, 40, 40, 31, 37, 26, 48, 33, 44, 27, 26, 30]
[39, 41, 36, 38, 24, 23, 31, 46, 47, 40, 40, 31, 37, 26, 48, 33, 44, 27, 26, 30]

Se il primo numero della lista 1 è maggiore del primo della seconda lista inserire nella terza lista il valore true(boolean)

In [ ]:
print(Lista1)
print(Lista2)
Lista3 = []
for numeri in range(20):
  if Lista1[numeri] > Lista2[numeri]:
    Lista3.append(True)
  else:
    Lista3.append(False)
print(Lista3)

#List Comprehension
Lista3 = [Lista1[numeri] > Lista2[numeri] for numeri in range(20)]
print(Lista3)

[17, 24, 22, 26, 13, 10, 15, 28, 24, 24, 11, 12, 27, 14, 21, 15, 17, 12, 10, 14]
[22, 17, 14, 12, 11, 13, 16, 18, 23, 16, 29, 19, 10, 12, 27, 18, 27, 15, 16, 16]
[False, True, True, True, True, False, False, True, True, True, False, False, True, True, False, False, False, False, False, False]
[False, True, True, True, True, False, False, True, True, True, False, False, True, True, False, False, False, False, False, False]

Trovare il max della lista 1 e della lista 2

In [ ]:
print(Lista1)
print(Lista2)
print(max(Lista1))
print(max(Lista2))
print(min(Lista1))
print(min(Lista2))

[17, 24, 22, 26, 13, 10, 15, 28, 24, 24, 11, 12, 27, 14, 21, 15, 17, 12, 10, 14]
[22, 17, 14, 12, 11, 13, 16, 18, 23, 16, 29, 19, 10, 12, 27, 18, 27, 15, 16, 16]
28
29
10
10

Visualizzare i numeri della lista1 che sono maggiori della media della lista1

In [ ]:
print(Lista1)
ListaLL = []
print(mean(Lista1))
for numeri in range(20):
  if Lista1[numeri] > 17.8:
    ListaLL.append(Lista1[numeri])
print(ListaLL)

visualizzare i numeri della lista 2 che sono maggiori di 17 e metterli in un'altra lista

In [ ]:
print(Lista2)
Lista4 = []
for numeri in range(20):
  if Lista2[numeri] > 17:
    Lista4.append(Lista2[numeri])
print(Lista4)

si vogliono memorizzare i valori del cambio tra euro e dollaro negli ultimi 15 giorni

In [ ]:
cambio = [0.9863, 0.9766, 0.9778, 0.9861, 0.9858, 0.9857, 0.9828]
giorni = ["18/10" , "19/10" , "20/10" , "21/10" , "22/10" , "23/10" , "24/10"]

trovare il giorno in cui il dollaro valeva di piu

In [ ]:
print(giorni[cambio.index(max(cambio))])

18/10

trovare quanto valeva il dollaro una settimana fa

In [ ]:
print(cambio[giorni.index(max(giorni))])

0.9828

In [ ]:
nazioni = ["inghilterra", "francia", "italia", "spagna", "portogallo", "germania"]
popolazioni = [63136265, 64291280, 60480665, 46776338, 10199257, 83000000]

In [ ]:
#visualizzare la nazione con più abitanti 
print(nazioni[popolazioni.index(max(popolazioni))])
print(nazioni[popolazioni.index(min(popolazioni))])

germania
portogallo

In [ ]:
#visualizzare le nazioni con una popolazione superiore alla media
from statistics import mean
print(mean(popolazioni))
lista1 = []
for i in range(6):
  if popolazioni[i] > 54647300.833333336:
    lista1.append(nazioni[i])
print(lista1)

55647300.833333336
['inghilterra', 'francia', 'italia', 'germania']

In [ ]:
#aumentare tutti i valori di popolazioni di 1000000 e inserirli in una lista
lista2 = []
for i in range(6): 
  popolazioni[i] += 1000000
  lista2.append(popolazioni[i])
print(lista2)

#list comprehension
lista2 = [popolazioni[i] + 1000000 for i in range(6)]
print(lista2)

[65136265, 66291280, 62480665, 48776338, 12199257, 85000000]
[66136265, 67291280, 63480665, 49776338, 13199257, 86000000]

In [ ]:
#mostra le prime 3 nazioni
print(nazioni[:3])

['inghilterra', 'francia', 'italia']

In [ ]:
#mostrare in ordine 
for i in range(6):
  print("{:14}{:2}{:11}".format(nazioni[i] , "-", popolazioni[i]))

inghilterra   -    63136265
francia       -    64291280
italia        -    60480665
spagna        -    46776338
portogallo    -    10199257
germania      -    83000000

In [ ]:
#trovare le percentuali delle popolazioni rispetto alla popolazione totale mondiale e inserirle in un'altra lista
popolazioneMondiale = 7753000000
percentuali = [round((popolazioni[indice3] / popolazioneMondiale) * 100,2) for indice3 in range(len(popolazioni))] #round (,2 per trovare 2 cifre dopo la virgola)
print(percentuali)

[0.81, 0.83, 0.78, 0.6, 0.13, 1.07]

In [ ]:
#inserire 20 numeri casuali compresi tra 10 e 30 in due liste diverse
import random 
listacasuali = [random.randint(10,30) for x in range(20)]
print(listacasuali)
listacasuali2 = [random.randint(10,30) for x in range(20)]
print(listacasuali2)

[25, 24, 19, 12, 22, 11, 14, 24, 23, 25, 16, 14, 29, 24, 30, 26, 12, 30, 23, 26]
[10, 23, 15, 16, 27, 29, 30, 21, 20, 24, 25, 13, 16, 15, 18, 30, 28, 27, 22, 13]

In [ ]:
#aggiungere 6 a tutti gli elementi della lista 1 e inserirli in un'altra lista
lista1 = []
for x in range(20):
  listacasuali[x] += 6
  lista1.append(listacasuali[x])
print(lista1)
#list comprehension
lista1 = [listacasuali[x] + 6 for x in range(20)]
print(lista1)

In [ ]:
#se il primo numero della prima lista è maggiore del primo della seconda lista scrivere true 
lista2 = []
print(listacasuali)
print(listacasuali2)
for x in range(20):
  if listacasuali[x] > listacasuali2[x]:
    lista2.append(True)
  else:
    lista2.append(False)
print(lista2)

#list comprehension
lista2 = [listacasuali[x] > listacasuali2[x] for x in range(20)]
print(lista2)

In [ ]:
#trovare la somma della lista 1 e della lista 2. 
#Poi mostrare una stringa che dice "somma1 è maggiore di somma2" se la somma della prima lista è maggiore della somma della seconda lista e viceversa
print(sum(listacasuali) , sum(listacasuali2))
if sum(listacasuali) > sum(listacasuali2):
  print("somma1 è maggiore di somma2")
else:
  print("somma2 è maggiore di somma1")

789 422
somma1 è maggiore di somma2

In [ ]:
#mostrare i numeri della lista 1 compresi tra 15,20
for y in range(20):
  if listacasuali[y] >= 15 and listacasuali[y] <= 20:
   print(listacasuali[y])