<a href="https://colab.research.google.com/github/GeremiccaAndrea/Python/blob/main/Recap_Tuple_Insiemi_Dizionari.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Tuple**

Una tupla è una struttura dati ordinata e non modificabile, sono delle strutture dati volatili

Si usano per salvare dei dati sempre fissi

Per creare una tupla con un solo elemento, devi aggiungere una virgola dopo l'elemento

Quando si deve cambiare il contenuto di una tupla si deve prima trasformare la tupla in una lista perchè come detto prima la tupla non è modificabile

In [16]:
#Esempio Tupla
Tupla = (1,2,3,4,5)
print(Tupla)

#Tupla con 1 solo elemento
Tupla1 = ("Andrea",) #se non mettiamo la virgola non è più una tupla ma una stringa
print(Tupla1)

(1, 2, 3, 4, 5)
('Andrea',)

**Modificare una tupla**

In [17]:
#con Tupla1 riutilizziamo la tupla usata sopra 

Tupla1 = list(Tupla1) #trasformo la Tupla1 in una lista
Tupla1[0:0] = ("Lorenzo", "Riccardo", "Mattia") #aggiungo nella posizione 0 i 3 nomi
print(Tupla1)
Tupla1 = tuple(Tupla1) #riconverto la lista in una tupla non modificabile
print(Tupla1)

['Lorenzo', 'Riccardo', 'Mattia', 'Andrea']
('Lorenzo', 'Riccardo', 'Mattia', 'Andrea')

# **Insiemi**

Gli insiemi vengono utilizzati per memorizzare più elementi in una singola variabile, gli insiemi non sono ordinati

Per formare un insieme mettiamo {} oppure set((

In [ ]:
#Inizializzare un insieme vuoto
Insieme = set()
print(Insieme)

set()

In [ ]:
InsiemeSquadre = {"Milan", "Napoli", "Monza", "Atalanta"}
print(InsiemeSquadre)

{'Atalanta', 'Napoli', 'Milan', 'Monza'}

In [ ]:
#Inserire in un insieme i numeri da 1 a 20
Num = {i for i in range(21)}
print(Num)

{0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20}

In [ ]:
#Mostrare gli elementi di un insieme 
InsiemeVideoGame = {"Xbox", "Playstation", "Pc"}
for elemento in InsiemeVideoGame:
  print(elemento)

Xbox
Pc
Playstation

In [ ]:
#Aggiungere un elemento ad un insieme
InsiemeVideoGame.add("Tablet")
print(InsiemeVideoGame)

#Rimuovere un elemento da un insieme 
InsiemeVideoGame.remove("Xbox") #Oppure al posto di remove possiamo usare discard
print(InsiemeVideoGame)

#Rimuovere un elemento qualsiasi da un insieme
InsiemeVideoGame.pop()
print(InsiemeVideoGame)

{'Xbox', 'Tablet', 'Pc', 'Playstation'}
{'Tablet', 'Pc', 'Playstation'}
{'Pc', 'Playstation'}

**Funzione update:**

**Aggiunge alla prima lista gli elementi della seconda lista**

In [ ]:
InsiemeNumeri = {1,2,3,4,5,6,7,8,9}
InsiemeLettere = {"a","b","c","d","e","f","g","h","i"}
InsiemeCaratteriSpeciali = {"!", "%", "?", "^"}
InsiemeNumeri.update(InsiemeLettere, InsiemeCaratteriSpeciali )
print(InsiemeNumeri)

{1, 2, 3, 4, 5, 6, 7, 8, 9, '?', 'd', 'h', 'c', '^', '!', 'b', 'a', 'e', 'g', 'i', '%', 'f'}

**Unire gli insiemi**

In [ ]:
#METODO UNION
#Vengono esclusi i duplicati
#si stampa in un unico insieme tutti gli elementi di più insiemi 
set1 = {1,2,3,4,5}
set2 = {6,7,8,9,10}
set3 = {11,12,13,14,15}
set4 = set1.union(set2,set3)
print(set4)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15}

In [ ]:
#METODO INTERSECTION_UPDATE
#Salva in un insieme gli elementi duplicati che ci sono in entrambi gli insiemi (rimuove gli elementi non presenti in altri insiemi)
set5 = {"ciao", "buongiorno", "buonasera", "arrivederci"}
set6 = {"arrivederci", "buonasera", 6, 80}
set5.intersection_update(set6)
print(set5)

{'buonasera', 'arrivederci'}

In [ ]:
#METODO SYMMETRIC_DIFFERENCE_UPDATE
#salva in un insieme gli elementi non duplicati che ci sono in entrambi gli insiemi (elimina quelli comuni)
set7 = {"inter", "milan", "roma", "napoli"}
set8 = {"inter", "roma", 87, 123}
set7.symmetric_difference_update(set8)
print(set7)

{'milan', 'napoli', 87, 123}

In [ ]:
#Trovare gli elementi comuni in entrambi gli insiemi 
set9 = {"andrea", "giuseppe", "marco", "giulio", "max"}
set10 = {"romeo", "federico", "andrea", "leonardo", "marco"}
NomiComuni = set9.intersection(set10)
print(NomiComuni)

#Trovare gli elementi diversi nei 2 insiemi 
NomiDiversi = set9.difference(set10)
print(NomiDiversi)

{'andrea', 'marco'}
{'giulio', 'max', 'giuseppe'}

# **Dizionari**

I dizionari sono formati da una chiave e un valore

In [ ]:
andrea = {
    "genere" :" maschio",
    "età": 16,
    "altezza" : 172,
}
print(andrea)

{'genere': ' maschio', 'età': 16, 'altezza': 172}

In [ ]:
#per aggiungere un elemento ad un dizionario 
andrea.update({"cognome":"geremicca"})
andrea["capelli"] = "castani"
print(andrea)

{'genere': ' maschio', 'età': 16, 'altezza': 172, 'cognome': 'geremicca', 'capelli': 'castani'}

In [ ]:
#per rimuovere un elemento 
andrea.pop("età")
print(andrea)

{'genere': ' maschio', 'altezza': 172, 'cognome': 'geremicca', 'capelli': 'castani'}

In [ ]:
#Per visualizzare tutte le Chiavi
for key in andrea:
  print(key)

#Oppure
for x in andrea.keys():
  print(x)

genere
altezza
cognome
capelli
genere
altezza
cognome
capelli

In [ ]:
#Per visualizzare tutti i Valori
for value in andrea:
  print(andrea[value])

#Oppure
for x in andrea.values():
  print(x)

 maschio
172
geremicca
castani
 maschio
172
geremicca
castani

In [ ]:
#Per visualizzare tutte le coppie Chiave-Valore
for key, value in andrea.items():
  print(key, value)

genere  maschio
altezza 172
cognome geremicca
capelli castani

clear ()

In [ ]:
#Rimuove tutti gli elementi all'interno di un Dizionario
LuigiXVI = {
    "genere":"maschio",
    "età":38
}

LuigiXVI.clear()
print(LuigiXVI)

{}

copy ()

In [ ]:
#Copia gli elementi di un Dizionario in un altro
fifa22 = {
    "sviluppo":"EA Sports",
    "genere":"Calcio",
    "prezzo":"70€" 
}

fifa23 = fifa22.copy()
print(fifa23)

{'sviluppo': 'EA Sports', 'genere': 'Calcio', 'prezzo': '70€'}

fromkeys ()

In [ ]:
#Assegna ad ogni chiave un valore uguale
key = ("autostima", "motivazione", "felicità")
value = 0

vita = dict.fromkeys(key, value) #dict = specificare che è un dizionario
print(vita)

{'autostima': 0, 'motivazione': 0, 'felicità': 0}

get ()

In [ ]:
#Prende il valore associato alla chiave specificata
andrea = {
    "genere":"maschio",
    "età":15,
    "altezza":200
}

centimetri = andrea.get('altezza')
print(centimetri)

200

values ()

In [ ]:
#Restituisce un view object che contiene come lista i valori in un Dizionario

andrea = {
    "genere":"maschio",
    "età":15,
    "altezza":200
}

stampa = andrea.values()
print(stampa)

dict_values(['maschio', 15, 200])

pop ()

In [ ]:
#Rimuove una chiave e il suo valore dal Dizionario

andrea = {
    "genere":"maschio",
    "età":15,
    "altezza":200
}

andrea.pop('genere')
print(andrea)

{'età': 15, 'altezza': 200}

popitem ()

In [ ]:
#Rimuove l'ultimo elemento aggiunto e restituisce un view object contenente esso 

andrea = {
    "genere":"maschio",
    "età":15,
    "altezza":200
}

andrea.popitem()
print(andrea)

cestino = andrea.popitem()
print(cestino)

{'genere': 'maschio', 'età': 15}
('età', 15)

setdefault ()

In [ ]:
#Restituisce il valore associato alla chiave specificata

andrea = {
    "genere":"maschio",
    "età":15,
    "altezza":200
}

vecchiaia = andrea.setdefault('età')
print(vecchiaia)

15